html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.tweet {
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(30, 144, 255, 0.1);
}

.tweet .media {
  display: flex;
  flex-flow: row nowrap;
  max-height: 250px;
}

.tweet .media img {
  max-width: 250px;
  display: block;
  flex: 1;
  object-fit: cover;
}

.favorite_count:before {
  content: '❤️ ';
}

.retweet_count:before {
  content: '♻️ ';
}